body {
    font-family: Arial, sans-serif;
    background-image: url('img/fondoAdministracion.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% de la altura del viewport */
}

header {
    background-color: rgb(17, 79, 130);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
}

header img {
    height: 30px;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

nav {
    background-color: rgb(85, 136, 187);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(85, 136, 187);
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.navegacion {
    display: flex;
    background-color: rgb(17, 79, 130);
}

.navegacion a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
    padding: 0;
}

.navegacion a:hover {
    color: #ffffff;
    text-decoration: underline;
}

section {
    flex: 1; /* Ocupa el espacio restante verticalmente */
    width: 50%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    text-align: center; /* Centra el contenido horizontalmente */
}

h2 {
    color: rgb(17, 79, 130);
}

.table-container {
    margin-top: 20px;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Centra el texto horizontalmente */
}

th {
    background-color: rgb(17, 79, 130);
    color: white;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid rgb(17, 79, 130);
    border-radius: 5px;
    resize: none;
}

.botones {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    margin-top: 10px;
    margin-bottom: 10px;
}

.botones button {
    background-color: rgb(17, 79, 130);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(17, 79, 130);
    color: white;
    height: 30px;
    width: 100%;
}
