/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del Banner */
  
  .banner {
    background-image: linear-gradient(100deg, #eae9e9, #69b2da20), url('img/banner.jpg');
    height: 60rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content-banner {
    max-width: 90rem;
    margin: 0 auto;
    padding: 5rem 0;
    text-align: center;
  }
  
  .mision, .vision {
    width: 45%;
  }
  
  /* Estilos de las secciones Gestion11 y Financiera */
  
  .gestion-section, .financiera-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
  }
  
  .gestion-img, .financiera-img {
    border-radius: 15px;
    overflow: hidden;
  }
  
  .gestion-info, .financiera-info {
    width: 45%;
  }
  
  /* Estilos del Footer */
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
/* Estilos del header */

header {
    background-color: rgb(17, 79, 130);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    height: 30px;
    margin-right: 10px;
  }
  
  .header-izq {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  h1 {
    margin: 0;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 15px;
  }
  
  nav a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  
  /* Estilos de la sección */
  
  section {
    text-align: center;
    margin: 20px;
  }
  
  button {
    margin-top: 10px;
  }
  
  /* Estilos del footer */
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(17, 79, 130);
    color: white;
    height: 30px;
    bottom: 0;
    width: 100%;
  }
    