body {
    font-family: Arial, sans-serif;
    background-image: url('img/fondoContratos.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1f497d;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-izq {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header img {
    height: 30px;
    margin-right: 10px;
}
  h1 {
    margin: 0;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
  }
  
  nav a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  
  section {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  form {
    display: grid;
    grid-gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  textarea,
  input,
  select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid #1f497d;
    border-radius: 5px;
    resize: none;
  }
  
  textarea#terms,
  textarea#special_conditions,
  textarea#clauses {
    height: 150px;
    resize: none;
  }
  
  button,
  .agregar-entregables {
    background-color: #1f497d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #1f497d;
    color: white;
    height: 30px;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  