/* Estilos comunes para formularios */
body {
    font-family: Arial, sans-serif;
    background-image: url('img/fondoAdministracion.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgb(17, 79, 130);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

section {
    flex: 1;
    width: 50%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    text-align: center;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid rgb(17, 79, 130);
    border-radius: 5px;
    resize: none;
}

.botones {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.botones button {
    background-color: rgb(17, 79, 130);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(17, 79, 130);
    color: white;
    height: 30px;
    width: 100%;
}
