body {
    font-family: Arial, sans-serif;
    background-image: url('img/fondoAdministracion.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(17, 79, 130);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    height: 30px;
    margin-right: 10px;
  }
  .header-izq{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  h1{
    margin: 0;
  }

nav {
    background-color: rgb(85, 136, 187);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(85, 136, 187);
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}
.navegacion {
    display: flex;
    background-color:rgb(17, 79, 130) ;
    flex-direction: row;
  }
  
  .navegacion a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
    padding: 0;
  }
  
  .navegacion a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

section {
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

h2 {
    color: rgb(17, 79, 130);
}

.table-container {
    margin-top: 20px;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(17, 79, 130);
    color: white;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid rgb(17, 79, 130);
    border-radius: 5px;
    resize: none;
}

button {
    background-color: rgb(17, 79, 130);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addboton {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}
/* Agrega estos estilos a tu archivo de estilos (estilosFacturas11.css) */

.formulario {
    width: 70%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.formulario h2 {
    color: rgb(17, 79, 130);
}

.formulario form {
    display: grid;
    grid-gap: 10px;
}

.formulario label {
    font-weight: bold;
    margin-bottom: 5px;
}

.formulario input,
.formulario textarea,
.formulario select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid rgb(17, 79, 130);
    border-radius: 5px;
    resize: none;
}

.formulario button {
    background-color: rgb(17, 79, 130);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: rgb(13, 61, 103);
}
/* Estilos para la sección de Registro de Cuentas */
.registros {
    width: 70%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.registros h2 {
    color: rgb(17, 79, 130);
}

.registros form {
    display: grid;
    grid-gap: 10px;
}

.registros label {
    font-weight: bold;
}

.registros input, .registros select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid rgb(17, 79, 130);
    border-radius: 5px;
    resize: none;
}

.registros button {
    background-color: rgb(17, 79, 130);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.informes table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.informes th, .informes td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.informes th {
    background-color: rgb(17, 79, 130);
    color: white;
}
/* Estilos para tablas dentro de la sección de Monitoreo de Facturas */
.monitoreo table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto; /* Agregado para permitir el desplazamiento horizontal */
}

.monitoreo th, .monitoreo td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.monitoreo th {
    background-color: rgb(17, 79, 130);
    color: white;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(17, 79, 130);
    color: white;
    height: 30px;
    bottom: 0;
    width: 100%;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
}
