<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Cliente</title>
  <link rel="stylesheet" href="css/detalleEstiloCliente.css">
</head>
<body>

  <header>
    <h1>Detalles del Cliente</h1>
  </header>

  <section id="detalles">
    <!-- Aquí se cargarán los detalles dinámicamente usando JavaScript -->
  </section>
  <div class="botones">
    <button onclick="cerrarVentana()">Cerrar</button>
    <button onclick="cerrarVentana()">Editar</button>
   </div>
  <footer>
  
  </footer>

  <script src="js/detalleCliente.js"></script>
</body>
</html>
