<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facturacion</title>
  <link rel="stylesheet" href="css/estilofactura.css">
  
</head>
<body>
    <header>
            <div class="header-izq">
            <img src="css/img/images.png" alt="Icono">
            <h1>FPrimera de Facturas</h1>
            </div>
                <nav class="navegacion">
                  <a href="inicio.html">Inicio</a>
                  <a href="gestionDatos.html">Gestion de Datos</a>
      
      <a href="formulario.html">Registro de Contrato</a>
      <a href="factura11.html">Gestion de Finanzas</a>
              
                </nav>
      </header>
    </header>
<section>

    <div class="container">
  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Area</th>
        <th>Especialista</th>
        <th>Moneda</th>
        <th>Area Universitaria</th>
        <th>Sector</th>
        <th>Producto</th>
        <th>Responsable</th>
        <th>Numeral del Contrato</th>
        <th>Cliente</th>
        <th>Enero</th>
        <th>Febrero</th>
        <th>Marzo</th>
        <th>Abril</th>
        <th>Mayo</th>
        <th>Junio</th>
        <th>Julio</th>
        <th>Agosto</th>
        <th>Septiembre</th>
        <th>Octubre</th>
        <th>Noviembre</th>
        <th>Diciembre</th>
        <th>Total</th>
        <th>2024</th>
        <th>TOTAL CTTO VENTA</th>
      </tr>
    </thead>
    <tbody>
      <!-- Aquí agregarías las filas con los datos correspondientes -->
      <tr>
        <td>203</td>
        <td>SCT</td>
        <td>LUISA</td>
        <td>CUP</td>
        <td>INFORMATICA</td>
        <td>TICS</td>
        <td>SOPORTE Y MTTO SIGENU</td>
        <td>FERNANDO PICAYO</td>
        <td>29-2023</td>
        <td>UAS MES</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.33</td>  
      </tr>
      <!-- Puedes agregar más filas según sea necesario -->
      <tr>
        <td>203</td>
        <td>SCT</td>
        <td>LUISA</td>
        <td>CUP</td>
        <td>INFORMATICA</td>
        <td>TICS</td>
        <td>SOPORTE Y MTTO SIGENU</td>
        <td>FERNANDO PICAYO</td>
        <td>29-2023</td>
        <td>UAS MES</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.33</td>  
      </tr>  <tr>
        <td>203</td>
        <td>SCT</td>
        <td>LUISA</td>
        <td>CUP</td>
        <td>INFORMATICA</td>
        <td>TICS</td>
        <td>SOPORTE Y MTTO SIGENU</td>
        <td>FERNANDO PICAYO</td>
        <td>29-2023</td>
        <td>UAS MES</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.33</td>  
      </tr>  <tr>
        <td>203</td>
        <td>SCT</td>
        <td>LUISA</td>
        <td>CUP</td>
        <td>INFORMATICA</td>
        <td>TICS</td>
        <td>SOPORTE Y MTTO SIGENU</td>
        <td>FERNANDO PICAYO</td>
        <td>29-2023</td>
        <td>UAS MES</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.33</td>  
      </tr>  <tr>
        <td>203</td>
        <td>SCT</td>
        <td>LUISA</td>
        <td>CUP</td>
        <td>INFORMATICA</td>
        <td>TICS</td>
        <td>SOPORTE Y MTTO SIGENU</td>
        <td>FERNANDO PICAYO</td>
        <td>29-2023</td>
        <td>UAS MES</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.33</td>  
      </tr>  <tr>
        <td>203</td>
        <td>SCT</td>
        <td>LUISA</td>
        <td>CUP</td>
        <td>INFORMATICA</td>
        <td>TICS</td>
        <td>SOPORTE Y MTTO SIGENU</td>
        <td>FERNANDO PICAYO</td>
        <td>29-2023</td>
        <td>UAS MES</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.33</td>  
      </tr>  <tr>
        <td>203</td>
        <td>SCT</td>
        <td>LUISA</td>
        <td>CUP</td>
        <td>INFORMATICA</td>
        <td>TICS</td>
        <td>SOPORTE Y MTTO SIGENU</td>
        <td>FERNANDO PICAYO</td>
        <td>29-2023</td>
        <td>UAS MES</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.33</td>  
      </tr>  <tr>
        <td>203</td>
        <td>SCT</td>
        <td>LUISA</td>
        <td>CUP</td>
        <td>INFORMATICA</td>
        <td>TICS</td>
        <td>SOPORTE Y MTTO SIGENU</td>
        <td>FERNANDO PICAYO</td>
        <td>29-2023</td>
        <td>UAS MES</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.33</td>  
      </tr>  <tr>
        <td>203</td>
        <td>SCT</td>
        <td>LUISA</td>
        <td>CUP</td>
        <td>INFORMATICA</td>
        <td>TICS</td>
        <td>SOPORTE Y MTTO SIGENU</td>
        <td>FERNANDO PICAYO</td>
        <td>29-2023</td>
        <td>UAS MES</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.33</td>  
      </tr>  <tr>
        <td>203</td>
        <td>SCT</td>
        <td>LUISA</td>
        <td>CUP</td>
        <td>INFORMATICA</td>
        <td>TICS</td>
        <td>SOPORTE Y MTTO SIGENU</td>
        <td>FERNANDO PICAYO</td>
        <td>29-2023</td>
        <td>UAS MES</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.30</td>
        <td>94519.33</td>  
      </tr>
    </tbody>
  </table>
  </div>
</section>
<footer>

</footer>
</body>

</html>
