<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Contrato</title>
  <link rel="stylesheet" href="css/estiloContrato.css">
</head>
<body>
    <header>
        <div class="header-izq">
        <img src="css/img/images.png" alt="Icono">
        <h1>Registro de Contrato</h1>
        <h1></h1>
        </div>
        <nav>
          <a href="inicio.html">Inicio</a>
          <a href="gestionDatos.html">Gestion de Datos</a>
          <a href="facturas.html">Primera de facturas</a>
          <a href="factura11.html">Gestion de Finanzas</a>
        </nav>
      </header>
  <section>
   
  <form action="/guardar_contrato" method="post">
    <label for="id_ct">ID del Contrato:</label>
    <input type="number" id="id_ct" name="id_ct" required>

    <label for="num_ct">Número de Contrato:</label>
    <input type="text" id="num_ct" name="num_ct" required>

    <label for="title_ct">Título del Contrato:</label>
    <input type="text" id="title_ct" name="title_ct" required>

    <label for="start_ct">Fecha de Inicio:</label>
    <input type="date" id="start_ct" name="start_ct" required>

    <label for="end_ct">Fecha de Finalización:</label>
    <input type="date" id="end_ct" name="end_ct" required>

    <label for="resolution_ct">Fecha de Resolución:</label>
    <input type="date" id="resolution_ct" name="resolution_ct" required>

    <label for="description_ct">Descripción del Contrato:</label>
    <textarea id="description_ct" name="description_ct" required></textarea>

    <label for="staff_count">Cantidad de Personal:</label>
    <input type="number" id="staff_count" name="staff_count" required>

    <label for="type_ct">Tipo de Contrato:</label>
    <input type="text" id="type_ct" name="type_ct" required>

    <label for="terms">Términos y Condiciones:</label>
    <textarea id="terms" name="terms" rows="4"></textarea>

    <label for="expiration_date">Fecha de Vencimiento:</label>
    <input type="date" id="expiration_date" name="expiration_date" required>

    <label for="special_conditions">Condiciones Específicas:</label>
    <textarea id="special_conditions" name="special_conditions" rows="4"></textarea>

    <label for="clauses">Cláusulas Específicas:</label>
    <textarea id="clauses" name="clauses" rows="4"></textarea>

    <label for="contract_duration">Duración del Contrato (en meses):</label>
    <input type="number" id="contract_duration" name="contract_duration" required>

    <label for="uni_area_ct">Área Universitaria:</label>
    <input type="text" id="uni_area_ct" name="uni_area_ct" required>

    <label for="work_area_ct">Área de Trabajo:</label>
    <input type="text" id="work_area_ct" name="work_area_ct" required>

    <label for="value_ct">Valor del Contrato:</label>
    <input type="number" id="value_ct" name="value_ct" step="0.01" required>

    <label for="profit_margin">Margen de Beneficio:</label>
    <input type="number" id="profit_margin" name="profit_margin" step="0.01" required>

    <label for="net_income">Ingreso Neto:</label>
    <input type="number" id="net_income" name="net_income" step="0.01" required>

    <label for="hourly_wage">Tarifa Horaria:</label>
    <input type="number" id="hourly_wage" name="hourly_wage" step="0.01" required>

    <label for="proposed_by">Propuesto por:</label>
    <input type="text" id="proposed_by" name="proposed_by" required>

    <label for="approved_by">Aprobado por:</label>
    <input type="text" id="approved_by" name="approved_by" required>

    <label for="fk_id_cliente">ID del Cliente:</label>
    <input type="number" id="fk_id_cliente" name="fk_id_cliente" required>

    <label for="offer">Oferta:</label>
    <input type="text" id="offer" name="offer" required>

    <label for="manager">Gerente:</label>
    <input type="text" id="manager" name="manager" required>

    <label for="currency_ct">Moneda del Contrato:</label>
    <select id="currency_ct" name="currency_ct" required>
        <option value="tipo1">Moneda Libremente Convertible (MLC)</option>
        <option value="tipo2">Moneda Nacional (MN)</option>
        <!-- Añade más opciones según sea necesario -->
      </select>

    <button type="submit">Guardar Contrato</button>
  </form>
</section>
<footer>

</footer>

<script>
  function validarFormulario() {
      
      var idContrato = document.getElementById("id_ct").value;
      var numContrato = document.getElementById("num_ct").value;
      var titleContrato = document.getElementById("title_ct").value;
      var startContrato = document.getElementById("start_ct").value;
      var endContrato = document.getElementById("end_ct").value;
      var resolutionContrato = document.getElementById("resolution_ct").value;
      var descriptionContrato = document.getElementById("description_ct").value;
      var staffCount = document.getElementById("staff_count").value;
      var typeContrato = document.getElementById("type_ct").value;
      var terms = document.getElementById("terms").value;
      var expirationDate = document.getElementById("expiration_date").value;
      var specialConditions = document.getElementById("special_conditions").value;
      var clauses = document.getElementById("clauses").value;
      var contractDuration = document.getElementById("contract_duration").value;
      var uniAreaContrato = document.getElementById("uni_area_ct").value;
      var workAreaContrato = document.getElementById("work_area_ct").value;
      var valueContrato = document.getElementById("value_ct").value;
      var profitMargin = document.getElementById("profit_margin").value;
      var netIncome = document.getElementById("net_income").value;
      var hourlyWage = document.getElementById("hourly_wage").value;
      var proposedBy = document.getElementById("proposed_by").value;
      var approvedBy = document.getElementById("approved_by").value;
      var idCliente = document.getElementById("fk_id_cliente").value;
      var offer = document.getElementById("offer").value;
      var manager = document.getElementById("manager").value;
      var currencyContrato = document.getElementById("currency_ct").value;

   
      if (
          idContrato === "" || numContrato === "" || titleContrato === "" ||
          startContrato === "" || endContrato === "" || resolutionContrato === "" ||
          descriptionContrato === "" || staffCount === "" || typeContrato === "" ||
          terms === "" || expirationDate === "" || specialConditions === "" ||
          clauses === "" || contractDuration === "" || uniAreaContrato === "" ||
          workAreaContrato === "" || valueContrato === "" || profitMargin === "" ||
          netIncome === "" || hourlyWage === "" || proposedBy === "" ||
          approvedBy === "" || idCliente === "" || offer === "" || manager === "" ||
          currencyContrato === ""
      ) {
          alert("Todos los campos son obligatorios. Por favor, llene todos los campos.");
          return false;
      }

      
      fetch('/guardar_contrato', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify({
              idContrato,
              numContrato,
              titleContrato,
              
          }),
      })
      .then(response => response.json())
      .then(data => {
          console.log('Éxito:', data);
         
      })
      .catch((error) => {
          console.error('Error:', error);
      });

      return true;
  }
</script>

</body>
</html>
