<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CETA S.A. - Pantalla Principal</title>
  <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
  <header>
    <div class="header-izq">
      <img src="css/img/images.png" alt="Icono">
      <h1>Inicio</h1>
    </div>
    <nav class="navegacion">
      <a href="gestionDatos.html">Gestion de Datos</a>
      <a href="facturas.html">Primera de facturas</a>
      <a href="formulario.html">Registro de Contrato</a>
      <a href="factura11.html">Gestion de Finanzas</a>
      
    </nav>
  </header>
  <!-- Sección de Banner de Bienvenida -->
  <section class="banner">
    <div class="content-banner">
      <div class="titulo">
        <h1> CETA S.A.</h1>
        <h2>La ciencia y la innovación a su servicio.</h2>
      </div>
      <div class="mv">
        <div class="mision">
          <h3>Mision</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci obcaecati itaque quod aliquid aperiam
          repellendus minus quos ad, totam dolorem ducimus, nam natus esse sed deserunt dicta, iure autem corporis!</p>
         </div>
        <div class="vision">
          <h3>Vision</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci obcaecati itaque quod aliquid aperiam
          repellendus minus quos ad, totam dolorem ducimus, nam natus esse sed deserunt dicta, iure autem corporis!</p>
        </div>
      </div>
    </div>
    
  </section>

  <!-- Sección de Gestion11 -->
  <section class="gestion-section">
    <div class="gestion-img">
      <!-- Imagen con bordes redondeados -->
    </div>
    <div class="gestion-info">
      <p>Breve descripción de la pantalla Gestion11.</p>
      <button type="button">Ingresar a Gestion11</button>
    </div>
  </section>

  <!-- Sección Financiera -->
  <section class="financiera-section">
    <div class="financiera-info">
      <p>Breve descripción de la pantalla financiera.</p>
      <button type="button">Ingresar a Financiera</button>
    </div>
    <div class="financiera-img">
      <!-- Imagen con bordes redondeados -->
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <!-- Contenido del footer -->
  </footer>

</body>

</html>