<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Añadir Trabajador</title>
  <link rel="stylesheet" href="css/estilonuevoTrabajador.css">
</head>
<body>

  <header>
    <h1>Añadir Trabajador</h1>
  </header>

  <section>
    <form id="formularioTrabajador">
      <label for="nombreTrabajador">Nombre:</label>
      <input type="text" id="nombreTrabajador" required>
  
      <label for="rolTrabajador">Rol:</label>
      <input type="text" id="rolTrabajador" required>

      <label for="direccionTrabajador">Dirección:</label>
      <input type="text" id="direccionTrabajador" required>

      <label for="telefonoTrabajador">Teléfono:</label>
      <input type="tel" id="telefonoTrabajador" required>

      <label for="emailTrabajador">Email:</label>
      <input type="email" id="emailTrabajador" required>

      <label for="departamentoTrabajador">Departamento:</label>
      <input type="text" id="departamentoTrabajador" required>

      <label for="cuentaTrabajador">Número de Cuenta:</label>
      <input type="" id="cuentaTrabajador" required>

      <div class="botones">
        <button type="button" onclick="agregarTrabajador()">Añadir Trabajador</button>
        <button type="button" onclick="cerrarVentana()">Cancelar</button>
      </div>
    </form>
  </section>

  <footer>
    
  </footer>

  <script src="js/trabajadorForm.js"></script>
</body>
</html>
