<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Trabajador</title>
</head>
<body>
{% block body %}
  <header>
    <h1>Detalles del Trabajador</h1>
  </header>

  <section id="detalles">  
    <ul>      
          <li>CI: {{worker.id_w}}</li>
          <li>Nombre: {{worker.name_w}}</li>
          <li>Categoría: {{worker.fk_id_cg}}</li>
          <li>Dirección: {{worker.address_w}}</li>
          <li>Teléfono: {{worker.phone_w}}</li>
          <li>Email: {{worker.email_w}}</li>
          <li>Departamento: {{worker.department_w}}</li>
          <li>Número de Cuenta: {{worker.num_account_w}}</li>                
    </ul>   
  </section>
   <div class="botones">
    <button onclick="cerrarVentana()">Cerrar</button>
    <button onclick="cerrarVentana()">Editar</button>
   </div>
  <footer>
    <a href="{% url 'indexTrabajador' %}">Regresar</a>
  </footer>
{% endblock %} 
</body>
</html>
