<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="html/css/estiloLogin.css">
</head>
<body>
    <header>
        <div class="header-izq">
            <h1>Bienvenido a CETA S.A.</h1>
        </div>
    </header>

    <section>
        <div class="container">
            <form action="javascript:void(0);" onsubmit="return validarCredenciales()">
                <label for="Usuario">Nombre de Usuario:</label>
                <input type="text" id="Usuario"  placeholder="Ingrese su nombre de usuario" required>

                <label for="email">Correo:</label>
                <input type="email" id="email" placeholder="Ingrese su dirección de correo" required>

                <label for="rol">Rol:</label>
                <select id="rol" name="rol" placeholder="Seleccione su rol" required>
                    <option value="Administrador de Sistema">Administrador de Sistema</option>
                    <option value="Gestor de Proyectos">Gestor de Proyectos</option>
                    <option value="Gestor de Comercial">Gestor de Comercial</option>
                    <option value="Gestor de Recursos Humanos">Gestor de Recursos Humanos</option>
                    <!-- Añade más opciones según sea necesario -->
                </select>

                <label for="password_lo">Contraseña:</label>
                <input type="password" id="password_lo" placeholder="Ingrese la contraseña" step="0.01" required>

                <button type="submit">Ingresar</button>
            </form>
        </div>
    </section>

    <footer>
        <!-- Aquí puedes agregar contenido para el footer -->
    </footer>
    <script src="html/js/datos.js"></script>
    <script>
        function validarCredenciales() {
            var usuarioInput = document.getElementById("Usuario").value;
            var contraseñaInput = document.getElementById("password_lo").value;
            var emailInput = document.getElementById("email").value;
            var rolInput = document.getElementById("rol").value;

            var trabajador = datos.trabajadores.find(t => t.nombre === usuarioInput);

            if (!trabajador) {
                alert("Nombre de usuario no encontrado.");
                return false;
            }

            if (trabajador.seguridad !== contraseñaInput) {
                alert("Contraseña incorrecta.");
                return false;
            }

            if (trabajador.email !== emailInput) {
                alert("Correo electrónico incorrecto.");
                return false;
            }

            if (trabajador.rol !== rolInput) {
                alert("Rol incorrecto.");
                return false;
            }

            window.location.href = 'html/gestionDatos.html';

    // Retorno true solo si la redirección fue exitosa (opcional)
    return true;
        }
    </script>
</body>
</html>

